@font-face{
    font-family: OpenSans-Light;
    src: url('../ttf/OpenSans-Light.ttf');
}

html, body{
    margin:0;
    font-family: OpenSans-Light;
}

body{
    opacity: 0;
    transition: opacity 1s;
}
header{
    width: 100%;
    height:44px;
    background: linear-gradient(to top, #3f4248, #45494e);

}
.header_box{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.header__nav_box{
    position: relative;
    top: 11px;
    margin: 0;
    color: #fff;
    list-style: none;
}
.header__nav_box li{
    float: left;
    margin-left: 55px;
    font-size: 15px;
}
.header__nav_box li:first-child{
    margin-left:0;
}
.header__nav_box a{
    text-decoration: none;
    color: #fff;
}

.header__login{
    padding: 5px 26px;
    background: linear-gradient(to top, #00bff3,#83cbde);
    border-radius: 4px;
    float: right;
    margin: 7px 50px 0 0;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
}

.login_box{
    position: absolute;
    top: 47px;
    right: 388px;
    width: 270px;
    background: url(imgs/login_box_bg.png);
    border: 1px solid #292929;
    border-radius: 2px;
    z-index: 100;
    display: none;
}
.login__header{
    width: 100%;
    padding: 10px 0;
    background-color: #292929;
    color: #fff;
    font-size: 15px;
}
.login__header_title{
    width: 140px;
    margin: 0 auto;
}
.login__vkbtn{
    width: 176px;
    margin: 20px auto 0 ;
    padding: 4px 0 4px 40px;
    background: url(imgs/login_vklogo.png) 5px 50% no-repeat, #5b7aa8;
    background-size: 28px;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
}
.login__vkbtn:hover{
    cursor: pointer;
    background-color: #748fb8;
}

.login__googlebtn{
    width: 176px;
    margin: 15px auto 20px;
    padding: 4px 0 4px 40px;
    background: url(imgs/login_googlelogo.png) 5px 50% no-repeat, #ea4335;
    background-size: 28px;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
}
.login__googlebtn:hover{
    cursor: pointer;
    background-color: #e95b4f;
}

.set_wrapper{
    width: 100%;
    margin: 0;
    background: url(imgs/set_bg.jpg);
}
.set__current{
    width: 100%;
    height: 28px;
    margin:0;
    color: #fff;
}
.set__href_all{
    width: 28px;
    height: 28px;
    opacity: 0;
    background: url(imgs/shopping-bag.svg) 50% 50% no-repeat;
    background-size: 20px;
    float: left;
    border-right: 1px solid #000;
    cursor: pointer;
    transition: opacity 1s;
}
.set__href_all:hover{
    background: url(imgs/shopping-bag.svg) 50% 50% no-repeat, #7b7b7b;
    background-size: 20px;
}
.set__snap{
    position: relative;
    top: 5px;
    margin: 0 0 0 60px;
    cursor: pointer;
}


.packs_wrapper{
    width: 1354px;
    margin: 160px auto;
    background-color: aqua;
}


.packs_box{
    height: 398px;
    margin:-300px 0 0 50%;
    box-shadow: 0 0 14px #383838;
    transition:  box-shadow 0.5s, margin-top 0.5s, background 0.5s;
}

.packs_box:hover{
    box-shadow: 0 0 3px #383838;
}

.bronze_box{
    position: relative;
    left: -150px;
    width: 301px;
    float: left;
}
.bronze__header{
    width: 100%;
    height: 24px;
    margin-bottom: 1px;
    background: linear-gradient(to top, #ae9674, #ccaa7a);
    user-select: none;
}
.bronze_title{
    font-size: 15px;
    color: #fff;
    margin: 0 0 0 14px;
    cursor: default;
}
.bronze__body{
    background: linear-gradient(to top,  #ae9674, #d3ae7a);
    position: relative;
    transition: background 1s;
}
.bronze__half_body1{
    width: 150px;
    height: 373px;
    float: left;
    transition: opacity 1s, top 1s, margin-left 1s;
}
.bronze__half_body2{
    width: 150px;
    height: 373px;
    left: 151px;
    background: url(imgs/bronze_bg_line.png) 29px 110% no-repeat, url(imgs/bronze_bg_line.png) 59px 110% no-repeat, linear-gradient(to top,  #ae9674, #d3ae7a);
    transition: opacity 1s, top 1s, left 1s;
}
.bronze__plate{
    position: relative;
    top: -255px;
    margin: 0 auto;
    width: 130px;
    height: 52px;
    border: 9px solid #635848;
    background: linear-gradient(to top, #bc9155, #d39e54);
    color: #fff;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.5s, top 0.5s;
}
.bronze__plate h4{
    position: relative;
    left: 50%;
    width: 64px;
    margin: 6px 0 0 -32px;
    font-size: 14px;
}
.bronze__plate_price{
    position: relative;
    left: 50%;
    font-size: 12px;
    width: 26px;
    margin: 4px 0 0 -13px;
}
.bronze__info{
    display: none;
    margin-top: -70px;
    width: 100%;
    height: 30px;
    background-color: #313131;
}



